{% extends 'base.html' %}
{% load static %}


{% block content %}


<!-- HTML for Blog details Card  -->
<div class="blog-card">
  <div class="blog-header">
      <!-- Profile Picture and User Info -->
      
      <div class="user-info">
          <p class="date-created">Posted on:{{ post.created_at }}</p>
          <div class="follow-info">
            </div>
      </div>
  </div>
 
  <!-- Blog Content Preview -->
 
  <h2 class="blog-title">{{ post.blog_title }}</h2>

 <!-- Blog Media: Image or Video -->
 <div class="blog-media">
  {% if post.image %}
   <img src="{{post.image.url }}" width="450" class="blog-image" alt="Blog Image">
  {% endif %}
  <br/>
   <!--Video-->
  {%  if post.video %}
  <video controls class="blog-video">
  <source src="{{post.video.url }}" type="video/mp4">
  Your browser does not support the video tag.
  </video> 
      
  {% endif %}

</div>


  <p class="blog-preview">{{post.content |safe | linebreaks}}</p>

 
  <!-- Blog Actions: Comments, Likes, and Dislikes -->

  <div class="blog-actions">
    
      <span class="likes-count"><a href="{% url 'like_post' post.id %}">👍</a>{{ post.total_likes }}</span>
      <span class="dislikes-count"><a href="{% url 'dislike_post' post.id %}">👎</a>{{ post.total_dislikes }}</span>
      {% if request.user == post.author %}
   <a href="{% url 'delete_post' post.id %} "><strong style="color:darkred; font-size: small;">Delete post</strong></a>
    
  
   <a href="{% url 'edit_post' post.id %} "><strong  style="color:black; font-size: small;">Edited post</strong></a>
    
    {% endif %}
  </div>
  
<div>


        
  <strong data-bs-toggle="collapse" data-bs-target="#comments" style="color:black; font-size:small;"> {{ comments.count }}💬comments</strong>
  <div id="comments" class="collapse hide">
  
  {% for comment in comments %}
  
  <div class="container mt-3">
  <p style="color:black ; font-size: smaller;"><strong style="color:black; font-size: small;"  >@<a href="{% url 'profile' comment.author.id %}">{{ comment.author.username }}</a>:</strong>{{ comment.created_at}}:{{ comment.content|linebreaks}}</p>
  </div>
  {% endfor %}
  </div>
        
  {% if user.is_authenticated %}
     
    <strong style="color:darkblue;" data-bs-toggle="collapse" data-bs-target="#comment">   +Comment💬 </strong>
      <div id="comment" class="collapse hide">
          <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">comment</button>
            </form>
      </div>
  
  
        {% else %}
          <p>You need to <a href="{% url 'login' %}">login</a> to leave a comment.</p>
  {% endif %}
  


</div>



  
</div>

 
  
{% endblock %}





 